*.css
*.scss
.changeset
dist
esm/*
public/*
tests/*
scripts/*
*.config.js
.DS_Store
node_modules
coverage
build
/**/!.storybook/**/*
/**/.storybook/**
!next.config.js
!.commitlintrc.cjs
!.stylelintrc.cjs
!react-shim.js
!vite.config.ts

generated/*
prisma/*
